* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    background-color: bisque;
}



.product-img {
    float: left;
    margin-right: 30px;
}

.main {
    border: 5px solid black;
    width: 825px;
    margin: 50px auto;
    position: relative;
}

.main header {
    text-align: center;
    background-color: #f7f7f7;
    font-size: 22px;
    text-transform: uppercase;
    padding: 16px;
}

/* Product Information */
.product-info {
    /* (825 - 8 - 250 - 80) */
    width: 240px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.price {
    font-size: 22px;
    margin-bottom: 8px;
    float: left;
}

.shipping {
    color: #888888;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 18px;
    float: right;
    margin-top: 8px;
}

/*Product details*/ 

.product-details {
    width: 240px;
    float: right;
}

article p:nth-child(5) {
    margin-bottom: 8px;
}

.more-info {
    display: inline-block;
    margin-top: 4px;
}

.product-description {
    clear: both;
    margin-bottom: 10px;
}

.more-info:link, .more-info:visited {
    color: black;
}

.more-info:hover, .more-info:active {
    text-decoration: none;
}

.product-header {
    margin-top: 28px;
    margin-bottom: 8px;
    margin-top: 20px;
}

/* Product details */

.product-details {
    list-style: square;
    margin-left: 20px;
}

.product-details li { 
    margin-bottom: 8px;
}

/* Button style */
.btn {
    border: none;
    background-color: black;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 5px solid black;
}

.btn:hover {
    background-color: #fff;
    color: black;
}

/* Sale Tag */

.sale {
    position: absolute;
    background-color: red;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    left: -25px;
    top: -15px;
    letter-spacing: 2px;
}

/* Color boxes */

.color {
    background-color: black;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-top: 28px;
    margin-right: 8px;
}

.black {
    background-color: #000;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: yellowgreen;
}

.brown {
    background-color: chocolate;
}

/* Float layout */
/* 
.img-container {
    float: left;
    height:250px;
}

.left-container {
    width: 240px;
    float: left;
    margin-left: 40px;
    margin-top: 28px;
}

.right-container {
    float: right;
    width: 240px;
    margin-left: 40px;
}

.price-header {
    display: block;
}
.price {
    float: left;
}

.shipping {
    float: right;
}

.text p {
    margin-top: 40px;
    margin-bottom: 
} */
